@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2a5475;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #2a5475;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.font-satisfy {
  font-family: "Satisfy", sans-serif;
}

.text-title-primary {
  color: #2a5475;
}

.text-title-secondary {
  color: #eea5a0;
}

.bg-maps {
  background: url("/assets/images/maps.png");
  background-size: 75%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.bg-sea {
  background: url("/assets/images/maps-sea.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-primary {
  background-color: #fcece2;
}

.bg-ocean {
  background: linear-gradient(
    -45deg,
    #d6f0f9,
    #98f3c4,
    #b3e6f9,
    #4cddbb,
    #d3fc87,
    #e1f69d
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* Stop the animation when the container is hovered */
.animate-scroll:hover {
  animation-play-state: paused;
}

.rdp {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rdp-months {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.prose-custom p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-fade-in-out {
  animation: fadeInOut 5s ease-in-out infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-1 {
  animation-delay: 1s;
}
.animation-delay-2 {
  animation-delay: 2s;
}
.animation-delay-3 {
  animation-delay: 3s;
}

@keyframes sail-curve {
  0% {
    offset-distance: 0%;
    -webkit-offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
    -webkit-offset-distance: 100%;
  }
}

.sail-curve {
  animation: sail-curve 60s linear forwards;
  -webkit-animation: sail-curve 60s linear forwards;
  offset-rotate: auto;
  -webkit-offset-rotate: auto;
}

.sail-curve-2 {
  animation: sail-curve 55s linear forwards;
  -webkit-animation: sail-curve 55s linear forwards;
  offset-rotate: auto;
  -webkit-offset-rotate: auto;
}

.wave {
  width: 5px;
  height: 1px;
  position: absolute;
  margin-top: 18px;
  margin-left: -18px;
  opacity: 0.5;
}

.ripple {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  position: absolute;
  width: 20px;
  height: 8px;
}
.ripple:nth-child(1) {
  animation: ripple 2s 0s infinite;
  -webkit-animation: ripple 2s 0s infinite;
}
.ripple:nth-child(2) {
  animation: ripple 1.5s 0s infinite;
  -webkit-animation: ripple 1.5s 0s infinite;
}
.ripple:nth-child(3) {
  animation: ripple 1s 0s infinite;
  -webkit-animation: ripple 1s 0s infinite;
}
.ripple:nth-child(4) {
  animation: ripple 0.5s 0s infinite;
  -webkit-animation: ripple 0.5s 0s infinite;
}
.ripple:nth-child(5) {
  animation: ripple 0.2s 0s infinite;
  -webkit-animation: ripple 0.2s 0s infinite;
}

@keyframes ripple {
  0%,
  100% {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 40px 10px rgba(209, 236, 248, 0.245);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(90, 166, 238, 0.1);
    box-shadow: 0 0 40px 20px rgba(209, 238, 248, 0.2);
  }
}
