@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.font-satisfy {
  font-family: "Satisfy", sans-serif;
}

.text-title-primary {
  color: #2a5475;
}

.text-title-secondary {
  color: #eea5a0;
}

.bg-maps {
  background: url("/assets/images/maps.png");
  background-size: 75%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.bg-primary {
  background-color: #fcece2;
}

.bg-ocean {
  background: linear-gradient(-45deg, #84d8f7, #7af0b3, #69d0f5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* Stop the animation when the container is hovered */
.animate-scroll:hover {
  animation-play-state: paused;
}

.rdp {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rdp-months {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.prose-custom p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
